.countryBackground{
    -fx-background-color: #F2F3F2;
}
.closeContainer{
    -fx-background-radius: 0 10 0 0;
}

.closeContainer:hover{
    -fx-background-color: #C42B1C;
}
.countryContainer{
    -fx-background-radius: 10;
}
.teamsContainer{
    -fx-background-radius: 10;
    -fx-background-color: #F2F3F2C2;
}
.test{
    -fx-background-radius: 10;
    -fx-background-color: transparent;
}
.teamsContainer > .viewport{
    -fx-background-radius: 10;
    -fx-background-color: transparent;
}
.teamComponent{
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.scroll-bar{
    -fx-opacity: 0;
}
.label{
    -fx-text-fill: rgba(47, 46, 46, 1);
    -fx-font-family: 'Open Sans' , sans-serif;
    -fx-font-weight: 600;
    -fx-font-size: 13px;
}
.circle{
    -fx-fill: #CCCCCC;
}

