.countryBackground{
    -fx-background-color: #F2F3F2;
}

.closeContainer{
    -fx-background-radius: 0 10 0 0;
}

.closeContainer:hover{
    -fx-background-color: #C42B1C;
}
.countryContainer{
    -fx-background-radius: 10 10 10 10;
}
.teamsContainer{
    -fx-background-radius: 0 0 10 10;
}

