
/*style the list view  that display the teams  to distribute to */
.teamsListView{
    -fx-background-color: #d1d0d0;
}
.teamsListView .scroll-bar{
    -fx-background-color: transparent;
}

.list-view .viewport{
    -fx-background-color: #d1d0d0
}
.teamsListView .list-cell {
    -fx-background-color: transparent;
    -fx-pref-width: 250;
    -fx-max-width: 520;
    -fx-min-width: 250;
    -fx-background-radius: 20;
}

.teamsListView .list-cell:selected {
    -fx-background-color: #d1d0d0 !important;
    -fx-effect: dropshadow(gaussian, rgba(86, 234, 140, 0.5), 10, 0, 0, 5)!important;
    -fx-text-fill: black !important;
}

.teamsListView .list-cell:focused{
    -fx-text-fill: #102c57;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

/*.list-view .list-cell:filled:selected {*/
/*    -fx-border-color: #cccccc;*/
/*    -fx-effect: dropshadow(gaussian, rgba(86, 234, 140, 0.5), 10, 0, 0, 5);*/
/*}*/

.teamsListView .list-cell:hover {
    -fx-border-color: #cccccc; /* Border color on hover */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 5);
}

