/*style the list view  that display the teams  to distribute to */
.teamsListView {
    -fx-background-color: #d1d0d0;
}

.teamsListView .scroll-bar {
    -fx-opacity: 0;
}

.list-view .viewport {
    -fx-background-color: #d1d0d0
}

.teamsListView .list-cell {
    -fx-background-color: transparent;
    -fx-pref-width: 250;
    -fx-max-width: 520;
    -fx-min-width: 250;
    -fx-background-radius: 20;
}


/*style the scrollPane that is holding the teams*/
.teamsScrollPane {
    -fx-background-radius: 0 0 25 25;
    -fx-background-color: #D1D0D0;
}

.teamsScrollPane .scroll-bar {
    -fx-opacity: 0;
}







.circleAnimation:errorLimit {
    -fx-stroke: #a6492b;
}

.circleAnimation {
    -fx-stroke: #2ba746;
}




