
/*style the list view  that display the teams  to distribute to */
.teamsListView{
    -fx-background-color: #d1d0d0;
}

/* custom-styles.css */

/* Customize the selected ListCell within the ListView */
.teamsListView .list-cell:selected {
    -fx-border-color: #cccccc;
    -fx-background-color: #d1d0d0;
    -fx-effect: dropshadow(gaussian, rgba(86, 234, 140, 0.5), 10, 0, 0, 5);
}

/* Optionally, you can add more custom styles */
.teamsListView {
    -fx-background-color: lightgrey;
    -fx-border-color: darkgrey;
    -fx-padding: 10;
}

.teamsListView .list-cell {
    -fx-background-color: #d1d0d0;
    -fx-pref-width: 250;
    -fx-max-width: 520;
    -fx-min-width: 250;
    -fx-background-radius: 20;
}

.teamsListView .list-cell:focused{
    -fx-text-fill: #102c57;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.list-view .list-cell:filled:selected {
    -fx-border-color: #cccccc;
    -fx-effect: dropshadow(gaussian, rgba(86, 234, 140, 0.5), 10, 0, 0, 5);
}

.teamsListView .list-cell:hover {
    -fx-border-color: #cccccc; /* Border color on hover */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 5);

}

.list-view .viewport{
    -fx-background-color: #d1d0d0
}