.employeeComponent {
    -fx-background-color: #ffffff; /* Button color */
    -fx-background-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-border-color: transparent; /* No border initially */
    -fx-border-radius: 17px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0), 0, 0, 0, 0);
    -fx-transition: all 0.3s;
}

.employeeComponent:hover {
    -fx-border-color: #cccccc; /* Border color on hover */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 5); /* Shadow on hover */
}

.employeeComponentClicked{
    -fx-border-color: #cccccc; /* Border color on hover */
    -fx-effect: dropshadow(gaussian, rgba(86,234,140,0.5), 10, 0, 0, 5);
}


.distributionPercentageInput:focus-within{
    -fx-background-insets: 2;
    -fx-border-color: #2ba746;
    -fx-border-width: 1.5;
    -fx-border-insets: -0.5;
    -fx-text-fill: #2ba746;
}


.tooltipinfo{
    -fx-background-color: #63b2e1;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}
