.closeButton:hover{
    -fx-background-color: #C42B1C;
    -fx-background-radius: 0 10 0 0 ;
}

.closeButton:hover > .svgClose{
   -fx-fill: #fff;
}

.saveButton:hover{
    -fx-background-color: #2ba746;
}

.saveButton:hover > .svgSave{
    -fx-fill:#fff;
}

.mfx-text-field:focus-within {
    -fx-background-insets: 2;
    -fx-border-color: #2ba746; ;
    -fx-border-width: 1.5;
    -fx-border-insets: -0.5;
}
.percentage:error{
    -fx-border-color: #C42B1C;
    -fx-text-fill: #C42B1C;
}

.digits:error{
    -fx-border-color: #C42B1C;
    -fx-text-fill: #C42B1C;
}
.letters:error{
    -fx-border-color: #C42B1C;
    -fx-text-fill: #C42B1C;
}





