.navButton{
-fx-fill:#000;
    -fx-stroke-width: 1;
}

.navButton:hover{
    -fx-fill: #2ba746;
    -fx-stroke-width: 1;
}

.navControl{
}

.navControl:hover{
    -fx-background-color:#F3F2F2;
}

.navInfo{
    -fx-font-family: Open Sans;
   -fx-font-size: 15px;
    -fx-font-weight: 600;
    -fx-text-align: left;
}

.navText {
    -fx-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
    -fx-border-color: black;
}

.navText:hover {
    -fx-fill: lightblue;
}
.navArrow{
    -fx-fill: #2ba746;
    -fx-border-color:black ;
}
