.background{
    -fx-background-color: rgb(82, 80, 80);
    -fx-background-radius: 20;
}

.containers{
    -fx-background-color: #818181;
    -fx-background-radius: 20;
}

.scrollPane{
    -fx-background-color: transparent;
}
.label{
    -fx-text-fill: #eaeaea;
}

.text-field{
    -fx-background-color: #818181 ;
}